.resultdiv {
  width: 680px;
  margin: auto;
  /* border: 1px solid green; */
  display: flex;
  margin-bottom: 1rem;
}

.resultIcon {
  background-color: #d9d9d9;
  width: 10%;
  padding: 0.5rem;
}

.resultTitle {
  background-color: #c8c9ca;
  width: 80%;
  padding: 0.5rem;
  text-align: left;
  font-weight: 600;
}

.resultNumber {
  background-color: #c8c9ca;
  width: 10%;
  padding: 0.5rem;
}
