.ustdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid pink; */
}

.divici {
  width: 350px;
  /* border: 1px solid red; */
  /* margin: 1rem; */
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.candidateImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #c00000;
}

.candidateName {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.2rem;
  margin: 1rem 0 0 0;
  width: 330px;
  background-color: #c00000;
  color: white;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.voteBox {
  font-size: 3rem;
  border: 1px solid gray;
  background-color: #f1f1f1;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1rem;
  width: 330px;
  text-align: center;
  color: #8697a3;
}

.plus {
  background-color: #86c600;
  border-radius: 1rem;
  /* margin: 1rem; */
  padding: 2rem 6rem;
  font-size: 3rem;
  width: 330px;
  color: white;
}
.minus {
  background-color: #b1b1b1;
  border-radius: 1rem;
  margin: 1rem 0 0 0;
  padding: 1rem 6rem;
  font-size: 3rem;
  width: 330px;
  color: white;
}
