.infodiv {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  width: 680px;
  margin: auto;
}

.schooldiv {
  width: 450px;
  /* margin: auto; */
  /* border: none; */
  display: flex;
}

.schoolbox {
  background-color: #d9d9d9;
  width: 85%;
  padding: 0.5rem;
}

.ballotdiv {
  width: 230px;
  /* margin: auto; */
  /* border: 1px solid yellow; */
  display: flex;
}

.ballotbox {
  background-color: #d9d9d9;
  width: 82%;
  padding: 0.5rem;
}

.schoolIcon {
  background-color: #d9d9d9;
  width: 10%;
  padding: 0.5rem;
  /* margin: 0 1rem 0 0; */
}
.boxIcon {
  background-color: #d9d9d9;
  width: 20%;
  padding: 0.5rem;
  /* margin: 0 1rem 0 0; */
}
