.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.general {
  margin: auto;
  text-align: center;
}
.invalid {
  display: flex;
  width: 700px;
  /* flex-wrap: wrap; */
  margin: 0 auto 1rem;
  /* border: 1px solid yellow; */
  justify-content: center;
}

.invalid p {
  width: 330px;
  background-color: #f1f1f1;
  border-radius: 1rem;
  color: #8697a3;
  padding: 2rem;
  margin: auto;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 20px;
}

.invalidfirstdiv {
  width: 350px;
  margin: auto;
  /* border: 1px solid white; */
}
.invalidseconddiv {
  width: 350px;
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
  /* margin: auto; */
  /* border: 1px solid white; */
}

.invalidMinus {
  width: 150px;
  background-color: #b1b1b1;
  border-radius: 1rem;
  color: white;
  padding: 2rem;
  /* margin: 0 1rem 1rem 0; */
  font-size: 3rem;
  line-height: 20px;
}

.invalidPlus {
  width: 150px;
  background-color: #86c600;
  border-radius: 1rem;
  color: white;
  padding: 2rem;
  /* margin: 1rem; */
  font-size: 3rem;
  line-height: 20px;
}

.resetpage {
  margin: 1rem;
  padding: 0.5rem 3rem;
  border-radius: 7px;
  background-color: #333549;
  color: white;
  border: 1px solid white;
}
